Да се разработи електронна система за заявяване на участие в различни събития (напр. семинари).
Организатори ще бъдат компании, които работят в различни сфери, а гостите ще са професионалисти от тези сфери.
Не е необходимо потребителите да имат регистрация в системата. Всяко събитие ще има ограничен брой места.
Комбинацията от име и дата на събититето гарантира неговата уникалност. 
Всеки чове може да се регистрира за събитие само веднъж. Плащането за съответното сбитие става чрез кредитна карта. 
Запазването на място трябва да стане най-късно два дена преди старта на събитието.